/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#flex {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e4bafc;
}

#navigation {
    display: flex;
    color:white;
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("warsaw.jpg");
    background-position-y: 5%;
    background-size: cover;
    text-shadow: 4px 4px black;
    animation: backg 12s infinite ease-in-out;
}

h1 {
    font-size: 36px;
}

#main {
    height: 600px;
    background-color: #dde9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-ooo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.img-ooo:hover {
    animation: rotation 0.5s ;
}

.photo-title {
    font-weight: bold;
    font-size: 26px;
}


.img-container {
    width: 300px;
}

img {
    width: 200px;
}

#wrapper {
    background-color: #d0f4de;
    padding: 35px;
}

#guide {
    padding: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(#457B9D,#F1FAEE );
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes backg {
    from {
        background-image: url("warsaw.jpg");
    }
    33% {
        background-image: url("1249472.jpg");
    }
    66% {
        background-image: url("city.jpg");
    }
    to {
        background-image: url("warsaw.jpg");
    }
}
